trunk/TrafegusWebServer/TrafegusWSService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://ws.server.chapecosolucoes.com.br/" xmlns:tns="http://ws.server.chapecosolucoes.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="SolicitaClassesReferencias" type="tns:SolicitaClassesReferencias"/>

  <xs:element name="SolicitaClassesReferenciasResponse" type="tns:SolicitaClassesReferenciasResponse"/>

  <xs:complexType name="SolicitaClassesReferencias">
    <xs:sequence>
      <xs:element name="codEmpresa" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SolicitaClassesReferenciasResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:crefClasseReferencia" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="crefClasseReferencia">
    <xs:sequence>
      <xs:element name="crefClasseSistema" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="crefCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="crefCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="crefDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="crefDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="crefImportado" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="pessPessoa" type="tns:pessPessoa" minOccurs="0"/>
      <xs:element name="refeReferenciaList" type="tns:refeReferencia" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pessPessoa">
    <xs:sequence>
      <xs:element name="logrLogradouro" type="tns:logrLogradouro" minOccurs="0"/>
      <xs:element name="orasObjetoRastreado" type="tns:orasObjetoRastreado" minOccurs="0"/>
      <xs:element name="pessComplemento" type="xs:string" minOccurs="0"/>
      <xs:element name="pessNome" type="xs:string" minOccurs="0"/>
      <xs:element name="pessNumero" type="xs:string" minOccurs="0"/>
      <xs:element name="pessOrasCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="pessTipo" type="xs:string" minOccurs="0"/>
      <xs:element name="pfisPessoaFisica" type="tns:pfisPessoaFisica" minOccurs="0"/>
      <xs:element name="usuaUsuarioList" type="tns:usuaUsuario" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="logrLogradouro">
    <xs:sequence>
      <xs:element name="bairBairro" type="tns:bairBairro" minOccurs="0"/>
      <xs:element name="logrCep" type="xs:string" minOccurs="0"/>
      <xs:element name="logrCidaCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="logrCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="logrCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="logrComplemento" type="xs:string" minOccurs="0"/>
      <xs:element name="logrDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="logrDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="logrEstaCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="logrImportado" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="logrTipoLogradouro" type="xs:string" minOccurs="0"/>
      <xs:element name="pessPessoaList" type="tns:pessPessoa" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bairBairro">
    <xs:sequence>
      <xs:element name="bairAbreviacao" type="xs:string" minOccurs="0"/>
      <xs:element name="bairCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="bairCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="bairDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="bairDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="bairEstaCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="bairImportado" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="cidaCidade" type="tns:cidaCidade" minOccurs="0"/>
      <xs:element name="logrLogradouroList" type="tns:logrLogradouro" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cidaCidade">
    <xs:sequence>
      <xs:element name="bairBairroList" type="tns:bairBairro" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="cidaCepGenerico" type="xs:string" minOccurs="0"/>
      <xs:element name="cidaCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="cidaCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="cidaDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="cidaDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="cidaImportado" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="estaEstado" type="tns:estaEstado" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="estaEstado">
    <xs:sequence>
      <xs:element name="cidaCidadeList" type="tns:cidaCidade" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="estaCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="estaCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="estaDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="estaDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="estaImportado" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="estaSigla" type="xs:string" minOccurs="0"/>
      <xs:element name="paisPais" type="tns:paisPais" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="paisPais">
    <xs:sequence>
      <xs:element name="estaEstadoList" type="tns:estaEstado" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="paisCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="paisCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="paisDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="paisDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="paisImportado" type="xs:unsignedShort" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orasObjetoRastreado">
    <xs:sequence>
      <xs:element name="eobjEstatusObjeto" type="tns:eobjEstatusObjeto" minOccurs="0"/>
      <xs:element name="orasCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="orasCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="orasDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="orasImportado" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="pessPessoa" type="tns:pessPessoa" minOccurs="0"/>
      <xs:element name="pgpgPg" type="tns:pgpgPg" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eobjEstatusObjeto">
    <xs:sequence>
      <xs:element name="eobjCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="eobjCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="eobjDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="orasObjetoRastreadoList" type="tns:orasObjetoRastreado" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pgpgPg">
    <xs:sequence>
      <xs:element name="orasObjetoRastreadoList" type="tns:orasObjetoRastreado" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="pfvaPgFaixaValor" type="tns:pfvaPgFaixaValor" minOccurs="0"/>
      <xs:element name="pgpgCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="pgpgCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="pgpgDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="pgpgDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="pgpgImportado" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="pgpgValidacaoOperacao" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pfvaPgFaixaValor">
    <xs:sequence>
      <xs:element name="pfvaCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="pfvaCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="pfvaDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="pfvaDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="pfvaImportado" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="pfvaValorMaximo" type="xs:decimal" minOccurs="0"/>
      <xs:element name="pfvaValorMinimo" type="xs:decimal" minOccurs="0"/>
      <xs:element name="pgpgPgList" type="tns:pgpgPg" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pfisPessoaFisica">
    <xs:sequence>
      <xs:element name="pessPessoa" type="tns:pessPessoa" minOccurs="0"/>
      <xs:element name="pfisCpf" type="xs:string" minOccurs="0"/>
      <xs:element name="pfisDataNascimento" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="pfisPessOrasCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="pfisRg" type="xs:string" minOccurs="0"/>
      <xs:element name="pfisSexo" type="xs:string" minOccurs="0"/>
      <xs:element name="usuaUsuario" type="tns:usuaUsuario" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="usuaUsuario">
    <xs:sequence>
      <xs:element name="perfPerfil" type="tns:perfPerfil" minOccurs="0"/>
      <xs:element name="pessPessoa" type="tns:pessPessoa" minOccurs="0"/>
      <xs:element name="pfisPessoaFisica" type="tns:pfisPessoaFisica" minOccurs="0"/>
      <xs:element name="rmacRecebimentoMacroList" type="tns:rmacRecebimentoMacro" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="setoSetor" type="tns:setoSetor" minOccurs="0"/>
      <xs:element name="usuaLogin" type="xs:string" minOccurs="0"/>
      <xs:element name="usuaPfisPessOrasCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="usuaSenha" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="perfPerfil">
    <xs:sequence>
      <xs:element name="perfAdministrador" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="perfCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="perfCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="perfDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="perfDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="perfImportado" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="perfPermitirCriarUsuario" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="usuaUsuarioList" type="tns:usuaUsuario" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rmacRecebimentoMacro">
    <xs:sequence>
      <xs:element name="rmacDataComputadorBordo" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="rmacDataLeitura" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="rmacEsisCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="rmacEstatusGe" type="xs:string" minOccurs="0"/>
      <xs:element name="rmacMascara" type="xs:string" minOccurs="0"/>
      <xs:element name="rmacNumero" type="xs:string" minOccurs="0"/>
      <xs:element name="rmacReceCodigo" type="xs:int"/>
      <xs:element name="rmacRecebimentoMacroPK" type="tns:rmacRecebimentoMacroPK" minOccurs="0"/>
      <xs:element name="rmacTexto" type="xs:string" minOccurs="0"/>
      <xs:element name="usuaUsuario" type="tns:usuaUsuario" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rmacRecebimentoMacroPK">
    <xs:sequence>
      <xs:element name="rmac_rece_codigo" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setoSetor">
    <xs:sequence>
      <xs:element name="setoCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="setoCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="setoDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="setoDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="setoImportado" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="usuaUsuarioList" type="tns:usuaUsuario" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="refeReferencia">
    <xs:sequence>
      <xs:element name="cidaCidade" type="tns:cidaCidade" minOccurs="0"/>
      <xs:element name="crefClasseReferencia" type="tns:crefClasseReferencia" minOccurs="0"/>
      <xs:element name="pessPessoa" type="tns:pessPessoa" minOccurs="0"/>
      <xs:element name="refeBandeira" type="xs:string" minOccurs="0"/>
      <xs:element name="refeCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="refeCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="refeDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="refeDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="refeImportado" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="refeKm" type="xs:string" minOccurs="0"/>
      <xs:element name="refeLatitude" type="xs:decimal" minOccurs="0"/>
      <xs:element name="refeLongitude" type="xs:decimal" minOccurs="0"/>
      <xs:element name="refePessOrasCodigoDono" type="xs:int" minOccurs="0"/>
      <xs:element name="refeRaio" type="xs:decimal" minOccurs="0"/>
      <xs:element name="refeUtilizadoSistema" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="vlocViagemLocalList" type="tns:vlocViagemLocal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vlocViagemLocal">
    <xs:sequence>
      <xs:element name="refeReferencia" type="tns:refeReferencia" minOccurs="0"/>
      <xs:element name="tparTipoParada" type="tns:tparTipoParada" minOccurs="0"/>
      <xs:element name="viagViagem" type="tns:viagViagem" minOccurs="0"/>
      <xs:element name="vlocCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="vlocCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="vlocDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="vlocDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="vlocImportado" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="vlocRaio" type="xs:decimal" minOccurs="0"/>
      <xs:element name="vlocSequencia" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tparTipoParada">
    <xs:sequence>
      <xs:element name="tparCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="tparDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="vlocViagemLocalList" type="tns:vlocViagemLocal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viagViagem">
    <xs:sequence>
      <xs:element name="embaEmbarcador" type="tns:embaEmbarcador" minOccurs="0"/>
      <xs:element name="hpmoHistoricoPesquisaMotor" type="tns:hpmoHistoricoPesquisaMotor" minOccurs="0"/>
      <xs:element name="pgpgPg" type="tns:pgpgPg" minOccurs="0"/>
      <xs:element name="topeTipoOperacao" type="tns:topeTipoOperacao" minOccurs="0"/>
      <xs:element name="tranTransportador" type="tns:tranTransportador" minOccurs="0"/>
      <xs:element name="ttraTipoTransporte" type="tns:ttraTipoTransporte" minOccurs="0"/>
      <xs:element name="viagCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="viagCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="viagCodigoPai" type="xs:int" minOccurs="0"/>
      <xs:element name="viagDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="viagDataFim" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="viagDataInicio" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="viagDistancia" type="xs:decimal" minOccurs="0"/>
      <xs:element name="viagImportado" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="viagPrevisaoFim" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="viagPrevisaoInicio" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="viagTempoTermEmAreaRisco" type="xs:int" minOccurs="0"/>
      <xs:element name="viagTempoTermFimViagem" type="xs:int" minOccurs="0"/>
      <xs:element name="viagTempoTermForaAreaRisco" type="xs:int" minOccurs="0"/>
      <xs:element name="viagValorCarga" type="xs:decimal" minOccurs="0"/>
      <xs:element name="vlocViagemLocalList" type="tns:vlocViagemLocal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="embaEmbarcador">
    <xs:sequence>
      <xs:element name="embaEmbarcador" type="tns:embaEmbarcador" minOccurs="0"/>
      <xs:element name="embaEmbarcadorList" type="tns:embaEmbarcador" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="embaPjurPessOrasCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="pjurPessoaJuridica" type="tns:pjurPessoaJuridica" minOccurs="0"/>
      <xs:element name="testTipoEstabelecimento" type="tns:testTipoEstabelecimento" minOccurs="0"/>
      <xs:element name="viagViagemList" type="tns:viagViagem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pjurPessoaJuridica">
    <xs:sequence>
      <xs:element name="embaEmbarcador" type="tns:embaEmbarcador" minOccurs="0"/>
      <xs:element name="pessPessoa" type="tns:pessPessoa" minOccurs="0"/>
      <xs:element name="pjurCnpj" type="xs:string" minOccurs="0"/>
      <xs:element name="pjurInscricaoEstadual" type="xs:string" minOccurs="0"/>
      <xs:element name="pjurPessOrasCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="pjurRazaoSocial" type="xs:string" minOccurs="0"/>
      <xs:element name="pjurSite" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="testTipoEstabelecimento">
    <xs:sequence>
      <xs:element name="embaEmbarcadorList" type="tns:embaEmbarcador" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="testCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="testDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="tranTransportadorList" type="tns:tranTransportador" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tranTransportador">
    <xs:sequence>
      <xs:element name="pessPessoa" type="tns:pessPessoa" minOccurs="0"/>
      <xs:element name="testTipoEstabelecimento" type="tns:testTipoEstabelecimento" minOccurs="0"/>
      <xs:element name="tranPessOrasCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="tranTransportador" type="tns:tranTransportador" minOccurs="0"/>
      <xs:element name="tranTransportadorList" type="tns:tranTransportador" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="viagViagemList" type="tns:viagViagem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hpmoHistoricoPesquisaMotor">
    <xs:sequence>
      <xs:element name="epmoEstatusPesquisaMotoris" type="tns:epmoEstatusPesquisaMotoris" minOccurs="0"/>
      <xs:element name="hpmoCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="hpmoCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="hpmoDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="hpmoImportado" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="hpmoMensagem" type="xs:string" minOccurs="0"/>
      <xs:element name="hpmoPrazoValidade" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="hpmoValorMaximo" type="xs:decimal" minOccurs="0"/>
      <xs:element name="motoMotorista" type="tns:motoMotorista" minOccurs="0"/>
      <xs:element name="tproProduto" type="tns:tproProduto" minOccurs="0"/>
      <xs:element name="veicVeiculo" type="tns:veicVeiculo" minOccurs="0"/>
      <xs:element name="viagViagemList" type="tns:viagViagem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="epmoEstatusPesquisaMotoris">
    <xs:sequence>
      <xs:element name="epmoCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="epmoCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="epmoDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="hpmoHistoricoPesquisaMotorList" type="tns:hpmoHistoricoPesquisaMotor" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="motoMotoristaList" type="tns:motoMotorista" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="motoMotorista">
    <xs:sequence>
      <xs:element name="epmoEstatusPesquisaMotoris" type="tns:epmoEstatusPesquisaMotoris" minOccurs="0"/>
      <xs:element name="hpmoHistoricoPesquisaMotorList" type="tns:hpmoHistoricoPesquisaMotor" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="motoCategoriaCnh" type="xs:string" minOccurs="0"/>
      <xs:element name="motoNumeroCnh" type="xs:string" minOccurs="0"/>
      <xs:element name="motoPfisPessOrasCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="motoSenha" type="xs:string" minOccurs="0"/>
      <xs:element name="motoTreinado" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="motoUltimoTreinamento" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="motoValidadeCnh" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="motoValidadePesquisa" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="pfisPessoaFisica" type="tns:pfisPessoaFisica" minOccurs="0"/>
      <xs:element name="veicVeiculoList" type="tns:veicVeiculo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="veicVeiculo">
    <xs:sequence>
      <xs:element name="cidaCidade" type="tns:cidaCidade" minOccurs="0"/>
      <xs:element name="hpmoHistoricoPesquisaMotorList" type="tns:hpmoHistoricoPesquisaMotor" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="motoMotorista" type="tns:motoMotorista" minOccurs="0"/>
      <xs:element name="mvecModeloVeiculo" type="tns:mvecModeloVeiculo" minOccurs="0"/>
      <xs:element name="orasObjetoRastreado" type="tns:orasObjetoRastreado" minOccurs="0"/>
      <xs:element name="pessPessoa" type="tns:pessPessoa" minOccurs="0"/>
      <xs:element name="tveiTipoVeiculo" type="tns:tveiTipoVeiculo" minOccurs="0"/>
      <xs:element name="veicAnoFabricacao" type="xs:string" minOccurs="0"/>
      <xs:element name="veicAnoModelo" type="xs:string" minOccurs="0"/>
      <xs:element name="veicChassi" type="xs:string" minOccurs="0"/>
      <xs:element name="veicCor" type="xs:string" minOccurs="0"/>
      <xs:element name="veicFatorRpm" type="xs:decimal" minOccurs="0"/>
      <xs:element name="veicFatorVelocidade" type="xs:decimal" minOccurs="0"/>
      <xs:element name="veicFrota" type="xs:string" minOccurs="0"/>
      <xs:element name="veicObservacao" type="xs:string" minOccurs="0"/>
      <xs:element name="veicOrasCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="veicPlaca" type="xs:string" minOccurs="0"/>
      <xs:element name="veicRenavam" type="xs:string" minOccurs="0"/>
      <xs:element name="veicSenhaProprietario" type="xs:string" minOccurs="0"/>
      <xs:element name="veicTamanho" type="xs:decimal" minOccurs="0"/>
      <xs:element name="veicTelefone" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mvecModeloVeiculo">
    <xs:sequence>
      <xs:element name="mvecCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="mvecCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="mvecDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="mvecDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="mvecImportado" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="mveiMarcaVeiculo" type="tns:mveiMarcaVeiculo" minOccurs="0"/>
      <xs:element name="veicVeiculoList" type="tns:veicVeiculo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mveiMarcaVeiculo">
    <xs:sequence>
      <xs:element name="mvecModeloVeiculoList" type="tns:mvecModeloVeiculo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="mveiCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="mveiCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="mveiDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="mveiDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="mveiImportado" type="xs:unsignedShort" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tveiTipoVeiculo">
    <xs:sequence>
      <xs:element name="tveiCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="tveiDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="veicVeiculoList" type="tns:veicVeiculo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tproProduto">
    <xs:sequence>
      <xs:element name="hpmoHistoricoPesquisaMotorList" type="tns:hpmoHistoricoPesquisaMotor" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="tproCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="tproCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="tproDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="tproDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="tproImportado" type="xs:unsignedShort" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="topeTipoOperacao">
    <xs:sequence>
      <xs:element name="topeCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="topeCodigoGr" type="xs:int" minOccurs="0"/>
      <xs:element name="topeDataCadastro" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="topeDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="topeImportado" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="viagViagemList" type="tns:viagViagem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ttraTipoTransporte">
    <xs:sequence>
      <xs:element name="ttraCodigo" type="xs:int" minOccurs="0"/>
      <xs:element name="ttraDescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="viagViagemList" type="tns:viagViagem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

